.NewFigurePawns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selectNewFigure {
    padding: 2vw;
    display: flex;
    background-color: firebrick;
}
.everyImageSelect {
    margin-left: 1vw;
    border: 1px solid;
    cursor: pointer;
    width: 8vw;
    max-width: 80px;
}
